---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Features2 from '~/components/widgets/Features2.astro';
import { headerData } from '~/navigation';

const metadata = {
  title: 'Contact',
};

const getStartedLink = headerData.actions?.find((action) => action.text === 'Get Started')?.href;
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact" title="Let's Connect!" />

  <!-- Features2 Widget ************** -->

  <Features2
    title="We are here to help!"
    items={[
      {
        title: 'Contact sales',
        description:
          'Reach out for pricing, solution design, and implementation planning for your business. You can also book an appointment directly with our team.',
        icon: 'tabler:calendar-event',
        ...(getStartedLink
          ? {
              callToAction: {
                text: 'Get Started',
                href: getStartedLink,
                target: '_blank',
                variant: 'primary',
              },
            }
          : {}),
      },
      {
        title: 'Technical support',
        description:
          'For incidents, outages, and technical troubleshooting, contact us right away.<br /><br />Ticket Email: <a href="mailto:support@topgradetech.com" class="underline">support@topgradetech.com</a><br />Toll-Free: <a href="tel:+18559470067" class="underline">(855) 947-0067</a>',
        icon: 'tabler:headset',
      },
      {
        title: 'Locations',
        description:
          'Pueblo HQ: <a href="tel:+17197660944" class="underline">(719) 766-0944</a><br />Denver Office: <a href="tel:+17208807521" class="underline">(720) 880-7521</a><br />HQ Location: 2001 Oakshire Lane, Suite C, Pueblo, CO 81001',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
